

#popup {
    position:absolute;
    display:none;
    border:red solid 3px;
    background:black;
    color:white;
    height: 66px;
}

#popup2 {
    display:none;
    position:absolute;
    background-color:black;
    color:pink;
    width:150px;
    
}
#cal1{
    position:absolute;
    height:0px;
    width:0px;
    top:100px;
    left:100px;
    overflow:none;
    z-index:-100;
}
#cal2{
    position:absolute;
    height:0px;
    width:0px;
    top:0px;
    left:0px;
    overflow:none;
    z-index:-100;
}

a:link {
    text-decoration: none;
    color:white;
}

a:visited {
    text-decoration: none;
    color:white;
}

a:hover {
    text-decoration: none;
    color:white;
}

a:active {
    text-decoration: none;
    color:white;
}

ul {
    list-style-type: none;
}